<div flex>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <md-icon md-font-library="material-icons" class="md-light md-48">dashboard</md-icon>
            <h1 class="md-flex"> Exemple </h1>
            <span flex> <!-- séparateur extensible --> </span>
            <md-button class="md-icon-button md-raised md-primary" aria-label="refresh" ng-click="$ctrl.refresh_page()" target="_blank">
                <md-tooltip md-direction="left"> Purger le cache et recharger la page </md-tooltip>
                <md-icon md-font-library="material-icons" class="md-light md-48">refresh</md-icon>
            </md-button>
            <md-button class="md-icon-button md-raised md-primary" aria-label="settings" ng-click="$ctrl.show_settings()">
                <md-tooltip md-direction="left"> Accéder aux paramètres </md-tooltip>
                <md-icon md-font-library="material-icons" class="md-light md-48">settings</md-icon>
            </md-button>
            <md-button class="md-icon-button md-raised md-primary" aria-label="help" href="https://google.fr" target="_blank">
                <md-tooltip md-direction="left"> Accéder à la page du projet </md-tooltip>
                <md-icon md-font-library="material-icons" class="md-light md-48">help</md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
